.navbar {
  height: 5rem;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

form {
  flex: 0.4;
  position: relative;
}

.navbar input {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.navbar .carts {
  background-color: green;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.2rem;
  position: relative;
  cursor: pointer;
}

.vis_off {
  visibility: hidden;
}

.vis_on {
  visibility: visible;
}
